.page_plan {
	height: 100%;
}
.page_plan .plan_progress {
	height: 40px;
	line-height: 40px;
}
.page_plan .plan_progress * {
	vertical-align: middle;
}
.page_plan .plan_today {
	height: calc( 100% - 40px);
}
.page_plan .plan_today h2{
	height: 30px;
	line-height: 30px;
}
.page_plan .plan_today .plan_today_content {
	height: calc(100% - 30px);
	overflow: auto;
	padding: 20px;
}
.page_plan .plan_today .plan_today_content  .plan_today_item{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.page_plan .plan_today .plan_today_content  .plan_today_item label{
	display: inline-block;
	height: 100%;
	line-height: 30px;
}
.page_plan .plan_today .plan_today_content  .plan_today_item label input {
	margin-left: 5px;
	vertical-align: middle;
}