.page_plan {
	height: 100%;
}
/*进度*/
.page_plan .plan_progress {
	height: 40px;
	line-height: 40px;
}
/*目标内容*/
.page_plan h2{
	height: 30px;
	line-height: 30px;
}
.page_plan h2 >span {
	font-size: 14px;
	color: #5a5656;
}
/*长期目标*/
.page_plan .plan_langTerm p{
	height: 20px;
	line-height: 20px;
}
/*短期目标*/
.page_plan .plan_shortTerm p{
	height: 20px;
	line-height: 20px;
}
/*今日目标*/
.page_plan .plan_today {
	height: calc( 100% - 40px - 40px - 50px - 50px);
}
.page_plan .plan_today .plan_today_content {
	height: calc(100% - 30px);
	overflow: auto;
	padding: 20px;
}
/*目标项*/
.page_plan .plan_today .plan_today_content  .plan_today_item{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.page_plan .plan_today .plan_today_content  .plan_today_item label{
	display: inline-block;
	height: 100%;
	line-height: 30px;
}
.page_plan .plan_today .plan_today_content  .plan_today_item label input {
	margin-left: 5px;
	vertical-align: middle;
}
/*提交按钮*/
.page_plan .plan_today .plan_form_submmit {
	height: 40px;
	text-align: center;
}